<html>
<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{entityLabel}} - {{title}}{{else}}Trifid{{/if}}</title>
  <link rel="stylesheet" href="https://liip-bund-ds.fra1.digitaloceanspaces.com/latest/main.css" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
{{#unless disableHeader}}
{{{header}}}
{{/unless}}
  <main id="main-content" class="trifid-main">
    <section class="hero hero--default "><div class="container container--grid gap--responsive"><div class="hero__content">
        {{{body}}}
    </div></div></section>
  </main>
{{#unless disableFooter}}
{{{footer}}}
{{/unless}}
</body>
</html>
