<div class="trifid-content">
  <div class="container">
    <style type="text/css">
      @import url("/static-assets/css/entity.css");
    </style>

    {{#if entityLabel}}
      <div class="entity-header">
        <h2>{{entityLabel}}</h2>
        <a href="{{entityUrl}}">{{entityUrl}}</a>
      </div>
    {{/if}}

    <div class="entity-body">
      {{{dataset}}}
    </div>

    {{#if metadata.namedGraphs}}
      <div class="metadata">
        <div class="metadata-title">Named graphs</div>
        <div class="metadata-table">
          {{#each metadata.namedGraphs}}
            <div class="metadata-row">
              <div>{{this.namedGraphLabel}}</div>
              <div>{{this.quadsCount}}</div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}

  </div>
</div>
